body {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: #00ff9c;
}

#charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 156, 0.5);
  overflow-y: auto;
  max-height: 90vh;
}

.chart {
  width: 620px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #00ff9c;
  box-shadow: 0 0 10px #00ff9c;
  position: relative;
}

.current-value {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #ff69b4;
}

svg text {
  fill: aqua;
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
