<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System Resource Monitor</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div id="charts">
      <div id="cpu-chart" class="chart">
        <div class="current-value" id="cpu-value"></div>
      </div>
      <div id="memory-chart" class="chart">
        <div class="current-value" id="memory-value"></div>
      </div>
      <div id="disk-chart" class="chart">
        <div class="current-value" id="disk-value"></div>
      </div>
      <div id="swap-chart" class="chart">
        <div class="current-value" id="swap-value"></div>
      </div>
      <div id="cpu-freq-chart" class="chart">
        <div class="current-value" id="cpu-freq-value"></div>
      </div>
      <div id="cpu-cores-chart" class="chart">
        <div class="current-value" id="cpu-cores-value"></div>
      </div>
      <div id="cpu-threads-chart" class="chart">
        <div class="current-value" id="cpu-threads-value"></div>
      </div>
      <div id="load-avg-chart" class="chart">
        <div class="current-value" id="load-avg-value"></div>
      </div>
      <div id="uptime-chart" class="chart">
        <div class="current-value" id="uptime-value"></div>
      </div>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
